@import "globales.scss";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 15px;   
    &__btn{        
        @include btnSpecial();
       
        a{
            text-decoration: none;
            color:$colorPrimary;
            padding: 15px 30px;
            @include breakpoint('xs'){
                padding:5px 20px;
                font-size: 12px;
            }
            display: flex;
            &:hover{
                @include btnSpecial();
                color:white;
                border:none;
                background:$colorPrimary ;
            }
        }

    }
    &__logo{
        img{
            @include breakpoint('xs') {
            width: 130px;
            
            } 
        
        }
        &:hover{
            transform: translate(0, -5px);
            width:15px;
        }
    }
}
.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin:0 auto;
    &__title{
        font-family: $FuenteTitulos;
        color:$neutralCyan;
        font-size:50px;
        padding-top:120px;
        text-align: center;
        
         @include breakpoint('xs'){
            font-size:27px;
            width: 100%;
        } 
    }
    &__text{
        width:620px;       
        color:$neutralCyan;
        font-family: $fuenteBody;
        font-weight: $FuenteBody_weigth;
        text-align: center;
        font-size: 20px;
        margin-top:25px;
        line-height: 27px;
         @include breakpoint("xs"){
             font-size: 16px;
             line-height: 25px;
             width:100%;
        } 
    }
    &__btn{
        margin-top: 60px;
        margin-bottom:80px;
        a{
            @include btn();
            padding:20px 40px;
            text-decoration: none;
            display:inline-block;
            transition: transform .3s ease-out; 
            font-size: 18px;
            font-weight: 600;          
        }
        a:hover {
            transform: translate(0, -5px);
          }
    }
    &__img{
        margin: 0 auto;
        img{
            width:720px;
            @include breakpoint("xs"){
                width:100%;
                padding-bottom: 80px;
            } 
        }

    }
}

.main__content{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
  grid-template-areas: "a b"
                       "c d"
                       "e f";
    grid-row-gap:100px;
    @include breakpoint('xs'){
        
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "b"
                            "a"
                            "c "
                            "d"
                            "f"
                            "e";
    }
}
.row1_text{
    grid-area: a;
    @include breakpoint("xs"){
        
    }
    width:80%;
    @include text;
    margin-bottom:124px;
  @include breakpoint("xs"){
        text-align:center;
    } 
    h3{
       @include breakpoint("xs"){
            font-size: 22px;
        } 
    }
    p{
         @include breakpoint("xs"){
            
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }
    }
}
.row1_img{
    grid-area: b;
    width: 80%;
    @include breakpoint("xs"){
       height: 220px;
       width: 70%;

    }
    margin:auto auto;
    img{
        width: 100%;
        @include img;
        @include breakpoint("xs"){
            display: block;
            margin:0 auto;
            width:70%;
            
            }
    }
     


}
.row2_img{
    grid-area: c;
    margin:0 auto;
    width:80%;
    @include breakpoint("xs"){
        height: 220px;
        width: 90%;
         margin-bottom: 80px;
 
    }
    img{
        @include img;
        width:100%;
        @include breakpoint("xs"){
            display: block;
            margin:0 auto;
            width:70%;
            }
    }
/*     margin-bottom:124px
 */
}
.row2_text{
    
    grid-area: d;
    @include breakpoint("xs"){
        text-align:center;
        margin-bottom:120px;
    }
    width:80%;
    @include text();
/*     margin-bottom:124px;
 */    @include breakpoint("xs"){
        
        text-align:center;
    }
    h3{
        @include breakpoint("xs"){
            font-size: 22px;
        }
    }
    p{
        @include breakpoint("xs"){
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }
    }



}
.row3_text{
    grid-area: e;
    @include text;
/*     margin-bottom:150px;
 */    @include breakpoint("xs"){
        width:90%;
        
    }
    h3{
        @include breakpoint("xs"){
            font-size: 22px;
            text-align: center;
        }
    }
    p{
        @include breakpoint("xs"){
           
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }
    }
    @include breakpoint("xs"){
/*         height: 60vh;
 */    }

}
.row3_img{
    margin:0 auto;
    width:80%;
    grid-area: f;
    img{
       width:100%;
        @include breakpoint("xs"){
            display: block;
            margin:0 auto;
            width:70%;
            }

    }
    margin-bottom:124px;
    @include breakpoint("xs"){
    width: 100%;
    }

}
.call{
    height: 350px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:120px 0;
    @include breakpoint("xs"){
        margin:90px 0;
    }
/*     margin-bottom: 100px;
 */    &__title{
        @include title();
        text-align: center;
        font-size: 24px;
        color:$neutralCyan;
        @include breakpoint("xs"){
            font-size:20px;
        }
     }
     &__btn{
        margin-top: 20px;
        margin-bottom:20px;
        a{
            @include btn();
            padding:20px 40px;
            text-decoration: none;
            display:inline-block;
            transition: transform .3s ease-out;           
            @include breakpoint("xs"){
                padding:15px 40px;
            }
        }
        a:hover {
            transform: translate(0, -5px);
          }

        }
        
    }
.footer{
    color:white;
    width: 100%;    

    &__img{
        img{
            margin-bottom: -7px;
            width:100%;
        }
    }
    &__content{
        font-family: $fuenteBody;
        font-weight: $FuenteBody_weigth;
      
        display:flex;
        background-color: #00252E;
        justify-content: center;
        padding-top:50px;
        @include breakpoint("xs"){
            display: flex;
            flex-direction: column-reverse;
            height: auto;
        }        
        &--info{
            width: 320px;               
            margin:0 auto;
            @include breakpoint("xs"){
                width:90%;
                margin:70px 20px;
                
            }
            p{
                margin:27px 5px;
                line-height: 25px;
                @include breakpoint("xs"){
                    margin:10px 5px;
                    font-size: 16px;                    
                }
                span{
                    margin-right: 20px;
                    @include breakpoint("xs"){
                        margin-right: 20px;
                    }
                }
            }
            p:first-of-type{
                @include breakpoint("xs"){
                    margin-bottom:40px; 
                    
                }
            }
            img{
                @include breakpoint("xs"){
                   
                    
                }
            }
        }
        &--newsletter{
            width: 720px;
           
            padding:20px;
            box-sizing: border-box;
            @include breakpoint("xs"){
                width:85%;
            }
            
            h2{
                font-family: $FuenteTitulos;
                font-weight: $FuenteTitulos_weigth

            }
            p:first-of-type{
                width:55%;
                margin: 20px 0px;
                font-family: $fuenteBody;
                font-weight: $FuenteBody_weigth;
                @include breakpoint("xs"){
                    width:100%;
                    font-size: 15px;
                    font-weight: 500;
                }

            }
            input{
                height: 45px;
                width:350px;
                
                border-radius:6px;
                border:none;
                /* margin-right: 30px; */
                padding:0px 16px;
                font-size: 18px;
                color:$colorPrimary;
                font-weight: $FuenteTitulos_weigth;
                @include breakpoint("xs"){
                    width:100%;
                    height: 35px;
                    margin-bottom:10px;
                }
            }
            button{
                height: 45px;
                background-color: $colorPrimary;
                border:none;
                border-radius:6px;
                padding: 1px 35px;
                color:$neutralBlue;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                @include breakpoint("xs"){
                  float:right;
                  height: 35px;
                }
            }
        }
    }
}
.footer__about{
display:flex;
background-color: #00252E;
justify-content: center;
}

.main__stadistics{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;

    @include breakpoint("xs"){
        flex-direction: column;
        align-items: center;
        margin: 60px 0
        
    }
    p:first-of-type{
        font-size:74px;
        font-family: $fuenteBody;
        color:$neutralCyan;
        margin:0;
        font-weight: 700;
    }
   
    &--comunnities{
        img{
            width: 35px;
        }
        p:nth-child(3){
            font-family: $fuenteBody;
            font-weight: 500;
            font-size: 18px;
        }
        @include breakpoint("xs"){
             margin-bottom: 120px;
       }

    }  
    &--message{
        img{
            width:25px;
        }
        p:first-of-type{
            font-size:74px;
            font-family: $fuenteBody;
            color:$neutralCyan;
            margin:0;
            font-weight: 700;
        }
        p:nth-child(3){
            font-family: $fuenteBody;
            font-weight: 500;
            font-size: 18px;
            text-align:center;
        }
    }
/*     margin:150px 0;
 */}

.iconRrss{
   fill:white;
   cursor:pointer;
   margin-top:24px;
  
}
#face{
    background-color:white;
    height: 18px;
    border-radius:10px;
    cursor: pointer;
    
}

